#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fff;
    
}

#navbar h2 {
    color: darkblue;
    font-weight: 900;
    
}